.header{
    height: 60px;
    background-color: #2E2E2E;
}
.logo{
    margin-top:10px;
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
}
.wrapper *{
    margin-top: 10px;
}
.navWrapper{
    margin-left: 60px;
}
.navWrapper *{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navWrapper *:hover{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 768px){
    .logo{
        display: none;
    }
    .wrapper{
        flex-direction: column;
    }

}