p{
    margin-top: 5px;
}
.popular{
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 60%;
    margin: 0 auto;
    background-color:white;
}
.popular *{
    display:flex;
    flex-direction: column;
    width: 200px;
}
.popImage{
    border-bottom: 2px solid #FE9A2E;
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 768px){
    .popular{
        display:flex; 
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        background-color:white;
        width: 95%;
    }
    .popular *{
        display:flex;
        flex-direction: row;
        width: 200px;
        margin-bottom: 20px;
    }
    .popImage{
        height: 100px;
        width: 100px;
        border-bottom: medium none;
    }


}